@charset 'utf-8';
html, body {
      width:  100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow:hidden;
      
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      font-family: verdana, meiryo, sans-serif, Arial Unicode MS, Cambria Math;
      
}
.welcome {
      color: white;
      font-size: 5em;
      white-space: nowrap;
}
.molmil_popup_outer {
	z-index: 1;
	top: -.5em;
}
.startbutton {
	padding: 1em;
	background-color: white;
	border: 1px solid red;
	position: absolute;
	left: calc(50% - 4em);
	top:calc(50% - 2em);
	z-index: 999;
	cursor: pointer;
	border-radius: 1em;
  display: none;
}